<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="carregarPaginaAnterior()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"
        [ngClass]="{'active': indiceSelecionado === i}"
        *ngFor="let pagina of paginasIndices; let i = index"
    >
      <a class="page-link" (click)="carregarPagina(i)">{{pagina + 1}}</a>
    </li>
<!--    <li class="page-item">-->
<!--      <a class="page-link" (click)="carregarProximaPagina()" aria-label="Next">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--    </li>-->
    <li class="page-item">
      <a class="page-link" (click)="carregarProximaPagina()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
