<h1 class="mt-4">Buscar servico prestado</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active">Consulta</li>
</ol>
<div class="container">
  <form #formSearch (ngSubmit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputCliente">Nome cliente</label>
        <input type="text" class="form-control" [(ngModel)]="nome" name="nome" id="inputCliente">
      </div>

      <div class="col-md-6">
        <label for="inputMes">Mês</label>
        <select [(ngModel)]="mes" name="mes" id="inputMes" class="form-control">
          <option value="">Selecione um mês</option>
          <option *ngFor="let mes of meses" [value]="mes" >{{mes}} </option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <br>
        <button type="submit" class="btn btn-success">
          <i class="fa fa-search"></i> Buscar
        </button>
        <button class="btn btn-default" routerLink="clientes-form" (click)="novoCadastro()">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
  </form>
  <br>
  <div  class="alert alert-primary" role="alert" *ngIf="message">
    {{ quant }} {{message}}
  </div>
  <br>
  <div class="col-md-12">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Cliente</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let servico of servicoPrestadoBuscar">
        <td>{{ servico.cliente.nome }}</td>
        <td>{{ servico.descricao }}</td>
        <td>{{ servico.valor }}</td>
        <td>{{ servico.data }}</td>
        <td>

          <button class="btn btn-primary ml-1" (click)="onEdit(servico.id)">
            <i class="fa fa-edit" ></i>
          </button>

<!--          <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delecao" (click)="readingClienteForDelete(cliente)">-->
<!--            <i class="fa fa-trash" ></i>-->
<!--          </button>-->

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
